.stereotypes{
    width: 80%;
    margin: auto;
}

.bigBoxM{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    
}

.containerM{
    width: 90%;
    margin: auto;
}

.bigBoxD{
    display: none;
}

@media only screen and (min-width: 900px){
    .bigBoxD{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 500px;
}
    .containerD{
    width: 45%;
    overflow-y: scroll;
    margin: 10px;
    }
    
    .container li{
    margin: 30px;
    }
    
    .bigBoxM{
    display: none;
    }
}
