.text{
    width: 80%;
    margin: auto;
}
.image{
    width: 80%;
    margin: auto;
}
 
img{
    width: 100%;
}
@media only screen and (min-width: 800px){
    .container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
    .text{
    width: 70%;
    margin: 15px;
}
    .image{
    width: 30%;
}
    
    
}