.text{
    width: 80%;
    margin: auto;
}
.image{
    width: 80%;
    margin: auto;
}
 

@media only screen and (min-width: 800px){
    .container{
    display: flex;
    flex-direction: row;
}
    .text{
    width: 75%;
    margin: auto;
}
    .image{
    width: 25%;
    margin: auto;
}
    
    
}